.wrapper{
    width: 100%;
    --seach-boder-radius : 20rem;
    --space-seach : 5rem;
    position: fixed;
    top: 0;
    z-index: 999;
    height: 12rem;
    background-color: white;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.header-firt{
    position: relative;
    width: 100rem;
    margin: auto;
    height: 50%;
    display: flex;
    justify-content: space-between;

    .logo{
        height: 100%;
        img {
            height: 100%;
            object-fit: contain;
        }
    }

    .list-item{
        display: flex;
        .item {
            margin: 0 10px;
            display: flex;
            align-items: center;
            &:hover a{
                color: var(--primary-color);
             }
            a{
                color: var(--primary-text);
                display: flex;
                align-items: center;
                font-size: 1.4rem;
    
                svg{
                    display: block;
                    font-size: 1.6rem;
                    margin: 0 .5rem;
                }
    
                span{
                    display: block;
                }
    
                img{
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    margin: 0 .5rem;
                }
            }
        }
    }
}

.header-second{
    position: relative;
    margin: auto;
    width: 65rem;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .seach-result,
    .seach{
        width: 45rem;
    }

    .seach{
        position: relative;
        height: 4rem;
        border-radius: var(--seach-boder-radius);
        background-color: var(--primary-background-color);
        display: flex;
        align-items: center;
        border: 1.5px solid transparent;

        &::after{
            width: 1px;
            content: '';
            position: absolute;
            height: 70%;
            right: var(--space-seach);
            top: 50%;
            transform: translate(0, -50%);
            background-color: #bbb9b9;
        }

        input{
            flex: 1;
            padding-left: 1.5rem;
            font-size: 1.6rem;
            color: var(--primary-text);
            background-color: transparent;
            caret-color: var(--primary-color);

            &:not(:placeholder-shown) ~ .seach-btn{
                color: var(--primary-color);
            }

            &:not(:placeholder-shown) ~ .clean-btn{
                display: block;
            }
        }

        .seach-btn{
            width: var(--space-seach);
            height: 100%;
            border-top-right-radius: var(--seach-boder-radius);
            border-bottom-right-radius: var(--seach-boder-radius);
            cursor: pointer;
            color: var(--primary-text);
            font-size: 2rem;

            &:hover{
                background-color: #e6e6e6;
            }
        }

        .clean-btn{
            color: var(--primary-text);
            margin: 0 15px;
            cursor: pointer;
            display: none;

            &:hover{
                color: var(--primary-color);
            }
        }

        &:focus-within{
            border-color:#c5c5c5;
        }
    }

    .cart{
        position: relative;
        width: calc(var(--space-seach) + 6rem);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: var(--space-seach);
            height: var(--space-seach);
        }
         
        svg{
            color: var(--primary-text);
            cursor: pointer;
            font-size: 2.4rem;

            &:hover{
                color: var(--primary-color);
            }
        }

        span{
            display: flex;
            width: 2.2rem;
            height: 2rem;
            border: 1.5px solid white;
            background-color: var(--primary-color);
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
        }
    }
}



